{%  extends 'news/base.html' %}
{% block titleBlock %}
    首页-奇幻资讯
{% endblock %}
{%  block scriptBlock %}

    <script type="text/javascript" src="../../static/news/js/index.js"></script>
{%  endblock scriptBlock %}

{% block contentBlock %}

<ul class="list_con fl ">

</ul>
{% endblock %}


{%  block rankBlock %}
    <div class="rank_title">
        <h3>点击排行</h3>
    </div>
    <ul class="rank_list">
        {%  for news in data.news_dict_li %}
            <li><span class="{{ loop.index0 | indexclass }}">{{ loop.index }}</span><a href="{{   url_for("news.news_detail",news_id=news.id) }}">{{ news.title }}</a></li>
        {%  endfor %}

    </ul>
{% endblock rankBlock %}